<div class="form-group">
  <label>Background Texture</label>
  <div class="form-fields">
    <file-picker name="flags.background-texture.url" type="imagevideo" value="{{textureUrl}}">
      <input
        class="image"
        type="text"
        
      />
      <button
        class="fa-solid fa-file-import fa-fw"
        type="button"
        data-tooltip="Browse Files"
        aria-label="Browse Files"
        tabindex="-1"
      ></button>
    </file-picker>
  </div>
</div>
